<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.idr.pdd.mapper.AnomalydetectNoticeMapper">
    
    <select id="countByTid" parameterType="String" resultType="Integer">
        SELECT COUNT(TID)
		 FROM DSP_ANOMALYDETECT_NOTICE
		WHERE ISUSABLE IS NOT NULL
		AND TID = #{tid}
		AND ISUSABLE = 'Usable'
    </select>
    
    <select id="count" parameterType="AnomalydetectNoticeDTO" resultType="Integer">
        SELECT COUNT(*)
		 FROM DSP_ANOMALYDETECT_NOTICE
		WHERE ISUSABLE IS NOT NULL
		AND TID = #{tid}
		AND NOTICE_REASON = #{noticeReason}
		AND ISUSABLE = 'Usable'
    </select>
    
    <insert id="create" parameterType="AnomalydetectNoticeDTO">
        INSERT INTO DSP_ANOMALYDETECT_NOTICE (
        	FACTORYID,
        	NOTICEID, 
        	NOTICE_DATETIME, 
        	NOTICE_UPDATOR, 
        	NOTICE_TARGET, 
        	NOTICE_REASON, 
        	NOTICE_REASONDESCRIPTION
        	,TID
        ) VALUES(
        	#{factoryid}
        	, #{noticeid}
        	, GETDATE()
        	, #{noticeUpdator}
            , #{noticeTarget}
            , #{noticeReason}
            , #{noticeReasondescRiption}
            , #{tid}
        )
    </insert>
    
</mapper>
