<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.idr.pdd.mapper.KeyWordAlaramMapper">
    
    <select id="rank">
		SELECT 
			R.LOCATIONID, 
			SUM(R.PROD_QTY) AS PROD_QTY
		FROM(
			SELECT 
				L.LOCATIONID, 
				ISNULL(SUM(B.PROD_QTY),0) AS PROD_QTY
			FROM
				DSP_LOCATION L
			LEFT JOIN DSP_WORKDAILY_REPORT A 
			ON L.LOCATIONID = A.LINEID
				AND A.WORK_DATE BETWEEN CONVERT(VARCHAR(8), DATEADD(DAY,-5,GETDATE()),112)
				AND CONVERT(VARCHAR(8), DATEADD(DAY, 0, GETDATE()),112)
			LEFT JOIN DSP_WORK_CONTENTS B 
			ON A.DATASEQ = B.WORKDAILY_SEQ
			WHERE
				L.FACTORYID = #{plant}
				AND L.ISUSABLE='Y'
			GROUP BY L.LOCATIONID, B.PROD_QTY , A.WORK_DATE
			)R
		GROUP BY R.LOCATIONID
		ORDER BY PROD_QTY DESC, R.LOCATIONID ASC;
	</select>
	
    <select id="palaram" parameterType="FairProd" resultType="FairProd">
      SELECT 
			E.dt,
			E.LINEID,
			SUM(E.PROD_QTY) AS PROD_QTY,
			SUM(E.WORKTOTAL) AS WORKTOTAL,
			SUM(E.NOTOPERATETOTAL) AS NOTOPERATETOTAL
		FROM (
			SELECT 
						A.dt AS dt,
				(SELECT 
					LOCATIONNAME  
				FROM DSP_LOCATION 
				WHERE LOCATIONID = ISNULL(B.LINEID, #{line})) AS LINEID,
				ISNULL(CASE 
				    WHEN (CAST(SUBSTRING(C.WORKTIME_FROM,1,2) AS INT)*60 + CAST(SUBSTRING(C.WORKTIME_FROM,3,2) AS INT)) &lt;= (CAST(SUBSTRING(C.WORKTIME_TO,1,2) AS INT)*60 + CAST(SUBSTRING(C.WORKTIME_TO,3,2) AS INT)) 
				    THEN ((CAST(SUBSTRING(C.WORKTIME_TO,1,2) AS INT)*60 + CAST(SUBSTRING(C.WORKTIME_TO,3,2) AS INT)) - (CAST(SUBSTRING(C.WORKTIME_FROM,1,2) AS INT)*60 + CAST(SUBSTRING(C.WORKTIME_FROM,3,2) AS INT)))
				    ELSE ((CAST(SUBSTRING(C.WORKTIME_TO,1,2) AS INT)*60 + CAST(SUBSTRING(C.WORKTIME_TO,3,2) AS INT)) + (1440 - (CAST(SUBSTRING(C.WORKTIME_FROM,1,2) AS INT)*60 + CAST(SUBSTRING(C.WORKTIME_FROM,3,2) AS INT))))
				END, 0) AS WORKTOTAL,
				ISNULL(CASE 
				    WHEN (CAST(SUBSTRING(D.NOTOPERATETIME_FROM,1,2) AS INT)*60 + CAST(SUBSTRING(D.NOTOPERATETIME_FROM,3,2) AS INT)) &lt;= (CAST(SUBSTRING(D.NOTOPERATETIME_TO,1,2) AS INT)*60 + CAST(SUBSTRING(D.NOTOPERATETIME_TO,3,2) AS INT)) 
				    THEN ((CAST(SUBSTRING(D.NOTOPERATETIME_TO,1,2) AS INT)*60 + CAST(SUBSTRING(D.NOTOPERATETIME_TO,3,2) AS INT)) - (CAST(SUBSTRING(D.NOTOPERATETIME_FROM,1,2) AS INT)*60 + CAST(SUBSTRING(D.NOTOPERATETIME_FROM,3,2) AS INT)))
				    ELSE ((CAST(SUBSTRING(D.NOTOPERATETIME_TO,1,2) AS INT)*60 + CAST(SUBSTRING(D.NOTOPERATETIME_TO,3,2) AS INT)) + (1440 - (CAST(SUBSTRING(D.NOTOPERATETIME_FROM,1,2) AS INT)*60 + CAST(SUBSTRING(D.NOTOPERATETIME_FROM,3,2) AS INT))))
				END, 0) AS NOTOPERATETOTAL,
				ISNULL(SUM(C.PROD_QTY),0) AS PROD_QTY
			FROM CheckDayOff A 
			LEFT JOIN DSP_WORKDAILY_REPORT B 
			ON B.WORK_DATE =A.dt
				AND B.LINEID = #{line}
				AND B.ISUSABLE ='Usable'
				AND B.MATERIALID = 'MOT-DK'
			LEFT JOIN DSP_WORK_CONTENTS C 
			ON B.DATASEQ =C.WORKDAILY_SEQ
				AND C.ISUSABLE ='Usable'
			LEFT JOIN DSP_NOTOPERATE_CONTENTS D
			ON B.DATASEQ =D.WORKDAILY_SEQ
				AND D.ISUSABLE ='Usable'
			WHERE 1=1
			AND A.dt BETWEEN CONVERT(VARCHAR(8), DATEADD(DAY,-5,GETDATE()),112) AND CONVERT(VARCHAR(8), DATEADD(DAY, 0, GETDATE()),112)			
			GROUP BY A.dt,B.LINEID, C.WORKTIME_FROM, C.WORKTIME_TO, D.NOTOPERATETIME_FROM, D.NOTOPERATETIME_TO
		) E
		WHERE E.dt=Convert(varchar(10),Getdate(),112)
		GROUP BY E.dt, E.LINEID
		ORDER BY E.dt ASC
    </select>
    
    
    <select id="qalaram" parameterType="FairProd" resultType="FairProd">
			SELECT AA.REJECT_ITEMID, AA.COMM_GRP_CD_NM, ISNULL(SUM(BB.FIRSTTIME_REJECT_QTY_SUM),'0') AS FIRSTTIME_REJECT_QTY_SUM
		FROM 
		(
		   SELECT 
		   COMM_GRP_CD AS REJECT_ITEMID
		   , (SELECT COMM_GRP_CD_NM FROM SC_COMM_GRP_CD WHERE COMM_GRP_CD = A.COMM_GRP_CD ) AS COMM_GRP_CD_NM
		   , COMM_CD AS REJECT_TYPE
		   , COMM_CD_NM
		   FROM SC_COMM_CD A
		   WHERE A.COMM_GRP_CD IN ('RI01','RI02','RI03','RI04')
		) AA
		LEFT JOIN
		(
		   SELECT DATEPART(MONTH, A.WORK_DATE) AS dt, B.REJECT_ITEMID, B.REJECT_TYPE , ISNULL(SUM(B.FIRSTTIME_REJECT_QTY),'0') AS FIRSTTIME_REJECT_QTY_SUM
		   FROM DSP_WORKDAILY_REPORT A 
		   JOIN DSP_REJECT_CONTENTS B ON A.DATASEQ = B.WORKDAILY_SEQ
		   WHERE DATEPART(MONTH, A.WORK_DATE) = MONTH(GETDATE())  AND A.WORK_DATE BETWEEN DATEADD(MONTH , DATEDIFF(MONTH, 0, GETDATE()) -5, 0) AND DATEADD(MS, -3, DATEADD(WK, DATEDIFF(WK, 0, GETDATE()) +1, 0))
		   AND A.FACTORYID = #{plant}
		   AND A.MATERIALID = 'MOT-DK'
		   GROUP BY B.REJECT_ITEMID, B.REJECT_TYPE, DATEPART(MONTH, A.WORK_DATE)
		) BB ON AA.REJECT_ITEMID = BB.REJECT_ITEMID AND AA.REJECT_TYPE = BB.REJECT_TYPE
		GROUP BY AA.REJECT_ITEMID, AA.COMM_GRP_CD_NM
		ORDER BY AA.REJECT_ITEMID ASC
		
	</select>
	
	 <select id="calaram" parameterType="FairProd" resultType="FairProd">		 
		 SELECT 
			E.dt,
			E.LINEID,
			SUM(E.PROD_QTY) AS PROD_QTY,
			SUM(E.WORKTOTAL) AS WORKTOTAL,
			SUM(E.NOTOPERATETOTAL) AS NOTOPERATETOTAL
		FROM (
			SELECT 
						A.dt AS dt,

				(SELECT 
					LOCATIONNAME  
				FROM DSP_LOCATION 
				WHERE LOCATIONID = ISNULL(B.LINEID, #{line})) AS LINEID,
				ISNULL(CASE 
				    WHEN (CAST(SUBSTRING(C.WORKTIME_FROM,1,2) AS INT)*60 + CAST(SUBSTRING(C.WORKTIME_FROM,3,2) AS INT)) &lt;= (CAST(SUBSTRING(C.WORKTIME_TO,1,2) AS INT)*60 + CAST(SUBSTRING(C.WORKTIME_TO,3,2) AS INT)) 
				    THEN ((CAST(SUBSTRING(C.WORKTIME_TO,1,2) AS INT)*60 + CAST(SUBSTRING(C.WORKTIME_TO,3,2) AS INT)) - (CAST(SUBSTRING(C.WORKTIME_FROM,1,2) AS INT)*60 + CAST(SUBSTRING(C.WORKTIME_FROM,3,2) AS INT)))
				    ELSE ((CAST(SUBSTRING(C.WORKTIME_TO,1,2) AS INT)*60 + CAST(SUBSTRING(C.WORKTIME_TO,3,2) AS INT)) + (1440 - (CAST(SUBSTRING(C.WORKTIME_FROM,1,2) AS INT)*60 + CAST(SUBSTRING(C.WORKTIME_FROM,3,2) AS INT))))
				END, 0) AS WORKTOTAL,
				ISNULL(CASE 
				    WHEN (CAST(SUBSTRING(D.NOTOPERATETIME_FROM,1,2) AS INT)*60 + CAST(SUBSTRING(D.NOTOPERATETIME_FROM,3,2) AS INT)) &lt;= (CAST(SUBSTRING(D.NOTOPERATETIME_TO,1,2) AS INT)*60 + CAST(SUBSTRING(D.NOTOPERATETIME_TO,3,2) AS INT)) 
				    THEN ((CAST(SUBSTRING(D.NOTOPERATETIME_TO,1,2) AS INT)*60 + CAST(SUBSTRING(D.NOTOPERATETIME_TO,3,2) AS INT)) - (CAST(SUBSTRING(D.NOTOPERATETIME_FROM,1,2) AS INT)*60 + CAST(SUBSTRING(D.NOTOPERATETIME_FROM,3,2) AS INT)))
				    ELSE ((CAST(SUBSTRING(D.NOTOPERATETIME_TO,1,2) AS INT)*60 + CAST(SUBSTRING(D.NOTOPERATETIME_TO,3,2) AS INT)) + (1440 - (CAST(SUBSTRING(D.NOTOPERATETIME_FROM,1,2) AS INT)*60 + CAST(SUBSTRING(D.NOTOPERATETIME_FROM,3,2) AS INT))))
				END, 0) AS NOTOPERATETOTAL,
				ISNULL(SUM(C.PROD_QTY),0) AS PROD_QTY
			FROM CheckDayOff A 
			LEFT JOIN DSP_WORKDAILY_REPORT B 
			ON B.WORK_DATE =A.dt
				AND B.LINEID = #{line}
				AND B.ISUSABLE ='Usable'
				AND B.MATERIALID = 'MOT-DK'
			LEFT JOIN DSP_WORK_CONTENTS C 
			ON B.DATASEQ =C.WORKDAILY_SEQ
				AND C.ISUSABLE ='Usable'
			LEFT JOIN DSP_NOTOPERATE_CONTENTS D
			ON B.DATASEQ =D.WORKDAILY_SEQ
				AND D.ISUSABLE ='Usable'
			WHERE 1=1
			AND A.dt BETWEEN CONVERT(VARCHAR(8), DATEADD(DAY,-5,GETDATE()),112) AND CONVERT(VARCHAR(8), DATEADD(DAY, 0, GETDATE()),112)				
			GROUP BY A.dt,B.LINEID, C.WORKTIME_FROM, C.WORKTIME_TO, D.NOTOPERATETIME_FROM, D.NOTOPERATETIME_TO
		) E
		WHERE E.dt=Convert(varchar(10),Getdate(),112)
		GROUP BY E.dt, E.LINEID
		ORDER BY E.dt ASC
		 
	 </select>
    
    <select id="dalaram" parameterType="FairProd" resultType="FairProd">
		SELECT	D.dt,
			SUM(D.PLAN_QTY) AS PLAN_QTY,
			SUM(D.PROD_QTY) AS PROD_QTY,
			(SELECT FACTORYNAME 
			 FROM DSP_FACTORY 
			 WHERE FACTORYID =#{plant}
			)AS FACTORYNAME 
			FROM(
				SELECT 

							A.dt AS dt,

					ISNULL(SUM(B.PLAN_QTY),0) AS PLAN_QTY,
					ISNULL(SUM(C.PROD_QTY),0) AS PROD_QTY
				FROM CheckDayOff A 
				LEFT JOIN DSP_WORKDAILY_REPORT B 
				ON B.WORK_DATE = A.dt
					AND B.FACTORYID = #{plant}
					AND B.ISUSABLE = 'Usable'
					AND B.MATERIALID = 'MOT-DK'
				LEFT JOIN DSP_WORK_CONTENTS C 
				ON B.DATASEQ = C.WORKDAILY_SEQ
					AND C.ISUSABLE = 'Usable'
				WHERE 1=1

						AND A.dt BETWEEN CONVERT(VARCHAR(8), DATEADD(DAY,-5,GETDATE()),112) AND CONVERT(VARCHAR(8), DATEADD(DAY, 0, GETDATE()),112)

				GROUP BY A.dt
			) D
			WHERE D.dt=Convert(varchar(10),Getdate(),112)
			GROUP BY D.dt
			ORDER BY D.dt ASC
	</select>
    
</mapper>
