<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.idr.pdd.mapper.NelsonRuleMapper">
    
    <select id="findByPlanSum" parameterType="map" resultType="DateSumDTO">
		SELECT A.dt AS DATE, SUBSTRING(A.dt,0,5) AS YEAR, SUBSTRING(A.dt,5,2) AS MONTH, SUBSTRING(A.dt,7,2) AS DAY, ISNULL(B.PLAN_QTY_SUM,0) AS SUM 
		FROM CheckDayOff A 
		LEFT JOIN (
			SELECT WORK_DATE, ISNULL(SUM(PLAN_QTY),0) AS PLAN_QTY_SUM 
			FROM DSP_WORKDAILY_REPORT
			WHERE 1=1
			AND WORK_DATE BETWEEN #{workDate}+'01' AND #{workDate}+'31'
			AND FACTORYID = #{factoryid}
			AND LINEID = #{lineid}
			AND MATERIALID = #{materialid}
			GROUP BY WORK_DATE
		)B ON A.dt = B.WORK_DATE
		WHERE 1=1
		AND A.dt BETWEEN #{workDate}+'01' AND #{workDate}+'31'
		ORDER BY A.dt
    </select>
    
    <select id="findByProdSum" parameterType="map" resultType="DateSumDTO">
		SELECT AA.dt AS DATE, SUBSTRING(AA.dt,0,5) AS YEAR, SUBSTRING(AA.dt,5,2) AS MONTH, SUBSTRING(AA.dt,7,2) AS DAY,  ISNULL(BB.PROD_QTY_SUM,0) AS SUM
		FROM CheckDayOff AA
		LEFT JOIN (
			SELECT A.WORK_DATE, ISNULL(SUM(B.PROD_QTY),0) AS PROD_QTY_SUM
			FROM DSP_WORKDAILY_REPORT A
			LEFT JOIN DSP_WORK_CONTENTS B ON A.DATASEQ = B.WORKDAILY_SEQ
			WHERE 1=1
			AND A.WORK_DATE BETWEEN #{workDate}+'01' AND #{workDate}+'31'
			AND A.FACTORYID = #{factoryid}
			AND A.LINEID = #{lineid}
			AND A.MATERIALID = #{materialid}
			GROUP BY A.WORK_DATE
		)BB ON AA.dt = BB.WORK_DATE
		WHERE 1=1
		AND AA.dt BETWEEN #{workDate}+'01' AND #{workDate}+'31'
		ORDER BY AA.dt
    </select>
    
    <select id="findByFailSum" parameterType="map" resultType="DateSumDTO">
		SELECT AA.dt AS DATE, SUBSTRING(AA.dt,0,5) AS YEAR, SUBSTRING(AA.dt,5,2) AS MONTH, SUBSTRING(AA.dt,7,2) AS DAY,ISNULL(BB.FAIL_QTY_SUM,0) SUM
		FROM CheckDayOff AA
		LEFT JOIN (
			SELECT A.WORK_DATE, ISNULL(SUM(B.FIRSTTIME_FAIL_QTY),0) AS FAIL_QTY_SUM 
			FROM DSP_WORKDAILY_REPORT A
			LEFT JOIN DSP_WORK_CONTENTS B ON A.DATASEQ = B.WORKDAILY_SEQ
			WHERE 1=1
			AND A.WORK_DATE BETWEEN #{workDate}+'01' AND #{workDate}+'31'
			AND A.FACTORYID = #{factoryid}
			AND A.LINEID = #{lineid}
			AND A.MATERIALID = #{materialid}
			GROUP BY A.WORK_DATE
		)BB ON AA.dt = BB.WORK_DATE
		WHERE 1=1
		AND AA.dt BETWEEN #{workDate}+'01' AND #{workDate}+'31'
		ORDER BY AA.dt
    </select>
    
</mapper>
