<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.idr.pdd.mapper.NotoperateContentsMapper">
    
    <select id="countByTid" parameterType="String" resultType="Integer">
        SELECT COUNT(TID)
		 FROM DSP_NOTOPERATE_CONTENTS
		WHERE ISUSABLE IS NOT NULL
		AND TID = #{tid}
    </select>
    
    <insert id="create" parameterType="NotoperateContentsDTO">
        INSERT INTO DSP_NOTOPERATE_CONTENTS (
        	NOTOPERATETIME_FROM, 
        	NOTOPERATETIME_TO, 
        	HANDS, 
        	MANHOUR, 
        	CAUSE, 
        	CORRECTIVE_ACTION, 
        	TID, 
        	WORKDAILY_SEQ
        ) VALUES(
        	#{notoperatetimeFrom}
        	, #{notoperatetimeTo}
        	, #{hands}
            , #{manhour}
            , #{cause}
            , #{correctiveAction}
            , #{tid}
            , #{workdailySeq}
        )
    </insert>
    
</mapper>
