<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.idr.pdd.mapper.WorkContentsMapper">
    
    <select id="countByTid" parameterType="String" resultType="Integer">
        SELECT COUNT(TID)
		 FROM DSP_WORK_CONTENTS
		WHERE ISUSABLE IS NOT NULL
		AND TID = #{tid}
		AND ISUSABLE = 'Usable'
    </select>
    
    <select id="sumFirsttimeFailQty" parameterType="Integer" resultType="Integer">
        SELECT SUM(FIRSTTIME_FAIL_QTY)
		FROM DSP_WORK_CONTENTS
		WHERE WORKDAILY_SEQ = #{dataSeq}
		AND ISUSABLE = 'Usable'
    </select>
    
    <select id="sumProdQtyBySeq" parameterType="Integer" resultType="Integer">
        SELECT SUM(PROD_QTY) 
		FROM DSP_WORK_CONTENTS
		WHERE WORKDAILY_SEQ = #{dataSeq}
		AND ISUSABLE = 'Usable'
    </select>
    
    <insert id="create" parameterType="WorkContentsDTO">
        INSERT INTO DSP_WORK_CONTENTS (
        	WORKTIME_FROM, 
        	WORKTIME_TO, 
        	MANHOUR, 
        	PROD_QTY, 
        	FIRSTTIME_GOOD_QTY, 
        	FIRSTTIME_FAIL_QTY, 
        	REWORK_GOOD_QTY, 
        	REWORK_FAIL_QTY, 
        	TID, 
        	WORKDAILY_SEQ,
        	NOTES
        ) VALUES(
        	  #{worktimeFrom}
			, #{worktimeTo}
            , #{manhour}
        	, #{prodQty}
            , #{firsttimeGoodQty}
            , #{firsttimeFailQty}
            , #{reworkGoodQty}
        	, #{reworkFailQty}
            , #{tid}
            , #{workdailySeq}
            , #{notes}
        )
    </insert>
    
</mapper>
